@import './globals';

#header {
  height: $headerHeight;
}

.header-button {
  color: $inactive;
  text-decoration: none;
  transition: color 0.5s;
  cursor: pointer;
}

.header-button:hover {
  color: $light;
}