@import './globals';


.sidepanel-container {
  width: 100vw;
  height: 100vh;
  z-index: 998;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
}

@keyframes openpanel {
  0% {width: 0px;}
  100% {width: 280px;}
}
.sidepanel {
  width: 280px;
  height: 100vh;
  display: flex;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  animation-name: openpanel;
  animation-duration: 0.5s;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

@keyframes closepanel {
  0% {width: 280px;}
  100% {width: 0px;}
}
.sidepanel.closed {
  width: 0px;
}

@keyframes openbuffer {
  0% {width: 100vw; opacity: 0;}
  100% {width: calc(100vw - 280px); opacity: 0;}
}
.sidepanel-buffer {
  height: 100vh;
  width: calc(100vw - 280px);
  background-color: black;
  opacity: 0;
  animation-name: openbuffer;
  animation-duration: 0.5s;
}

.sidepanel-top {
  height: 64px; 
  width: 100%;
}

.sp-item {
  display: flex;
  padding: 0 1.5rem 0 1.5rem;
  height: 48px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s;
  color: #2E4052;
}

.sp-item:hover {
  background-color: #EEEEEE;
  color: #4f6272;
  text-decoration: none;
}

.sp-item.active {
  color: $green;
  background-color: #F5F5F5;
}

.sp-item.active:hover {
  color: $green;
  background-color: #EEEEEE;
}

.sp-icon {
  padding-right: 24px;
  height: 24px;
}

.sp-text {
}

.sp-divider {
  border-top: 1px solid #2E4052;
  opacity: 0.2;
}