@import './header';
@import './sidepanel';


a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
  max-width: 128px;
  max-height: 128px;
}

/* Backgrounds */
.bg-coral {
  background-color: $coral;
}

.bg-cornflower {
  background-color: $cornflower;
}

.bg-space {
  background-color: $space;
  color: $light;
}

.bg-green {
  background-color: $green;
}

.bg-charcoal {
  background-color: $charcoal;
  color: $light;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.hover-cursor {
  cursor: pointer;
}
.hover-cursor:hover {
  background-color: #EEEEEE;
}

.auto-scroll {
  overflow-y: scroll;
}

.item-full {
  background-color: #EFE;
}

.item-low {
  background-color: #FFD;
}

.item-empty {
  background-color: #FEE;
}